[submodule "pack/colors/opt/gruvbox"]
	path = pack/colors/opt/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/start/startify"]
	path = pack/plugins/start/startify
	url = https://github.com/mhinz/vim-startify
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/start/gitgutter"]
	path = pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/opt/fugitive"]
	path = pack/plugins/opt/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/opt/gina"]
	path = pack/plugins/opt/gina
	url = https://github.com/lambdalisue/gina.vim
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "pack/plugins/start/matchup"]
	path = pack/plugins/start/matchup
	url = https://github.com/andymass/vim-matchup
[submodule "pack/plugins/start/csv"]
	path = pack/plugins/start/csv
	url = https://github.com/chrisbra/csv.vim
[submodule "pack/plugins/opt/lsp"]
	path = pack/plugins/opt/lsp
	url = https://github.com/yegappan/lsp
[submodule "pack/plugins/opt/vsnip"]
	path = pack/plugins/opt/vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "pack/plugins/opt/vsnip-integ"]
	path = pack/plugins/opt/vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ
